/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import 'toypad.css';
:root {
  --box-width: 9em;
  --box-padding: 12px;
  --box-border: 1px;
  --box-total: calc(
    var(--box-width) + 2 * var(--box-padding) + 2 * var(--box-border)
  );
  --middle-box-width: 9.75em;
  --detail-color-00: rgb(53, 53, 53);
  --detail-color-01: rgb(61, 61, 61);
  --toybox-bg: #efefef;
  --toybox-inner-bg: #b4b2b2;
  --click-action-bg: #d3d0d0;
}

.dark {
  color: white !important;
  background-color: #121212;
  --toybox-bg: #272727;
  --toybox-inner-bg: #3a3a3a;
  --click-action-bg: #403e3e;
}

#toypad {
  align-content: end;
  background-color: #49494b;
  background-image: linear-gradient(#49494b, #424244);
  padding-top: 4em;
  width: fit-content;
  height: calc(var(--box-width) * 3);
}

.container {
  position: relative;
  margin: 1.5em auto;
  border-radius: 0.5rem;
  box-shadow:
    0 4px 8px 0 #00000033,
    0 6px 20px 0 #00000030;
  background-color: rgb(239, 239, 239);
  padding: 1em;
}

.box {
  transition: background-color 0.25s ease-out;
  margin: 0;
  border: solid var(--box-border) var(--detail-color-01);
  border-radius: 0.5rem;
  padding: var(--box-padding);
  list-style-type: none;
}

.drop-targets:first-of-type {
  justify-content: space-between;
  width: calc(100%);
}

.drop-targets {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.drop-targets > .box {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 0;
  background-color: #d8d7d8;
  width: var(--box-width);
  height: var(--box-width);
  background-blend-mode: soft-light;
}
