#red-strip {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(var(--box-width) / 2);
    transform: translate(-50%, 0);

    border: 2px solid rgb(34, 34, 34);
    border-bottom: none;
    background-color: rgb(224, 4, 4);
    height: 0.6em;
}

#detail-00 {
    position: absolute;
    bottom: 1em;
    left: 50%;
    width: calc(var(--box-width) / 2);
    transform: translate(-50%, 0);

    border-bottom: none;
    background-color: var(--detail-color-00);
    height: 0.1em;
}

#detail-01 {
    position: absolute;
    top: 1em;
    left: 50%;
    width: calc(100% - 2em);
    transform: translate(-50%, 0);

    border-bottom: none;
    background-color: var(--detail-color-00);
    height: 1px;
}

#detail-02 {
    position: absolute;
    top: 1em;
    left: 1em;
    height: calc(var(--box-width));
    width: 1px;

    border-bottom: none;
    background-color: var(--detail-color-00);
}

#detail-03 {
    position: absolute;
    top: 1em;
    right: 1em;
    height: calc(var(--box-width));
    width: 1px;

    border-bottom: none;
    background-color: var(--detail-color-00);
}

#toypad1 {
    border-bottom-color: transparent;
    padding-top: calc(var(--box-total) / 6);
}

#toypad2 {
    position: absolute;
    bottom: calc(var(--middle-box-width) / 2.4 + 1em);
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    border-radius: 100%;
    width: var(--middle-box-width);
    height: var(--middle-box-width);
}

#toypad3 {
    border-bottom-color: transparent;
    padding-top: calc(var(--box-total) / 6);
}

#toypad4 {
    border-top-color: transparent;
    border-right-color: transparent;
}

#toypad5 {
    border-left-color: transparent;
    margin-right: calc(var(--box-width) / 2);
}

#toypad6 {
    border-right-color: transparent;
}

#toypad7 {
    border-top-color: transparent;
    border-left-color: transparent;
}

.box {
    border: none;
}